@media (min-width: 1025px) {

    .mobile-nav,
    .burger-icon {
        visibility: hidden;
        opacity: 0;
    }

}

@media (max-width: 1024px) {

    .container {
        width: 100vw;
    }

    .header__contacts {
        height: 100px;
    }

    .header__contacts--logo {
        background-image: url(../images/logo_mini.png);
        height: 70px;
        width: 70px;
    }

    .header__contacts--info {
        position: relative;
        left: 0px;
        top: 0px;
    }

    .header__contacts--name-company,
    .header__contacts--phone {
        font-size: 20px;
    }

    .header__contacts--address {
        font-size: 14px;
    }

    .header__contacts--about-company {
        font-size: 12px;
        margin-top: 5px;
        line-height: 0.5rem;
    }

    .header__contacts--email-link {
        font-size: 12px;
        text-decoration: none;
    }

    .mobile-nav,
    .burger-icon {
        visibility: hidden;
        opacity: 0;
    }

}

@media (max-width: 940px) {
    .container {
        width: 100vw;
    }

    .header__nav {
        height: 50px;
    }

    .header__nav--item {
        display: inline-flex;
        padding: 10px 7px;
        font-size: 13px;
        border-right: 1px solid #bf1a0d;
    }

    .header__contacts--discription {
        left: 0px;
    }

    .header__nav--item:hover>.header__nav--submenu {
        top: 210px;
    }

    .main__slider {
        visibility: hidden;
        opacity: 0;
        height: 0;
    }

    .main__about--heading {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .footer__social {
        left: 0px;
    }

    .footer__contacts {
        margin-right: 0px;
    }

    .footer__container {
        padding-bottom: 0;
        height: 230px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100vw;
    }

    .header__contacts {
        height: 70px;
        justify-content: space-around;
        padding: auto;
    }

    .header__contacts--logo {
        background-image: url(../images/logo_mini.png);
        height: 80px;
        width: 70px;
        margin-left: 10px;
    }

    .header_contacts--email-link,
    .header__contacts--phone,
    .header__contacts--name-company,
    .header__contacts--address {
        font-size: 80%;
    }

    .header_contacts--email-link {
        border-bottom: none;
    }

    .header__contacts--discription {
        left: 0px;
        top: -5px;
    }

    .header__contacts--about-company {
        display: none;
    }

    .header__contacts--name-company {
        margin-right: 5px;
    }

    .footer__container {
        padding-bottom: 0;
        height: 210px;
    }

    /*мобильное меню*/
    .mobile-nav {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }

    .burger-icon {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
        margin-right: 15px;
        top: -135px;
    }

    .header__nav--list {
        visibility: hidden;
        opacity: 0;
    }

    .header__nav {
        height: 0px;
        justify-content: flex-end;
        padding-right: 10px;
    }

}

@media (max-width: 650px) {
    .container {
        width: 100vw;
    }

    .header__back-call {
        padding-left: 5px;
    }

    .header__contacts {
        height: 110px;
        width: 100vw;
        justify-content: space-evenly;
        margin: auto;
    }

    .header__contacts--logo {
        margin-left: 0px;
    }

    .header__contacts--email {
        display: none;
    }

    .header__contacts--discription {
        left: 0px;
        top: -5px;
    }

    /*мобильное меню*/
    .mobile-nav {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);

    }

    .burger-icon {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
        margin-right: 15px;
        top: -175px;
    }

    .header__nav--list {
        visibility: hidden;
        opacity: 0;
    }

    .header__nav {
        height: 0px;
        justify-content: flex-end;
        padding-right: 10px;
    }

    .footer__container {
        padding-bottom: 0;
        height: 135px;
    }

    .footer__contacts,
    .footer__social {
        visibility: hidden;
    }

    .footer__site-sections {
        width: 80%;
    }
}


@media (max-width: 385px) {
    .container {
        width: 100vw;
    }

    .header__contacts--discription {
        left: 0px;
        top: -20px;
    }

    .header__back-call--text {
        font-size: 80%;
    }

    .header__contacts {
        height: 100px;
        width: 100vw;
        justify-content: space-evenly;
        margin: auto;
    }

    .header__contacts--discription {
        position: relative;
        left: 0;
        top: 0;
    }

    .header__contacts--info {
        height: 50px;
        width: 50%;
        padding: 20px 0 0 10px;
    }


    .header__contacts--about-company,
    .mobile__nav--submenu {
        visibility: hidden;
    }

    .header__contacts--name-company,
    .header__contacts--phone {
        font-size: 12px;
    }

    .header__contacts--logo {
        height: 65px;
        width: 65px;
    }


    /*мобильное меню*/
    .mobile-nav {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }

    .burger-icon {
        visibility: visible;
        top: -165px;
        opacity: 1;
        margin-right: 15px;
    }

    .header__nav--list {
        visibility: hidden;
        opacity: 0;

    }

    .header__nav {
        height: 0px;
        justify-content: flex-end;
        padding-right: 10px;
    }

    .footer__container {
        padding-bottom: 0;
        height: 170px;
    }

    .footer__site-sections {
        width: 80%;
    }

    .footer__contacts,
    .footer__social {
        visibility: hidden;
    }
}